body {
    background-color: lightgoldenrodyellow;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4 {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
}
p {
    font-weight: large;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
    
ul {
    background: lightskyblue;
    font-size: larger;
    font-style:italic;
    font-weight: normal;
    border: 3px   solid black;
    width: 1000px;
    padding: 32px;
    margin: 48px;
}
ol {
    background: lightskyblue;
    font-size: larger;
    font-style:italic;
    font-weight: normal;
    border: 3px   solid black;
    width: 1000px;
    padding: 32px;
    margin: 48px;
}
a {
   display: flex;
   justify-content: center;
   font-size: x-large;

}