body {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.one {
  background: pink;
  font-size: larger;
  font-style:italic;
  font-weight: bolder;
  border: 3px   solid blue;
  width: 200px;
  padding: 32px;
  margin-left: 120px;
  margin-bottom: 25px;
}

.two {
  background: lightblue;
  font-size: larger;
  font-style: oblique;
  font-weight: bolder;
  border: 3px solid purple;
  width: 200px;
  padding: 32px;
  margin-left: 120px;
  margin-bottom: 25px;
}

.three {
  background: peachpuff;
  font-size: larger;
  font-style: italic;
  font-weight: bolder;
  border: 3px solid brown;
  width: 200px;
  padding: 32px;
  margin-left: 120px;
  margin-bottom: 25px;
}